<div class="card animated fadeIn fast">
  <img [src]="hero.image" class="card-img-top" [alt]="hero.name" />
  <div class="card-body">
    <h5 class="card-title">{{ hero.name }}</h5>
    <p class="card-text text-truncate">{{ hero.biography }}</p>
    <p class="card-text">
      <small class="text-muted">{{ hero.firstApparition }}</small>
    </p>
    <!-- Navegación usando código -->
    <button
      (click)="seeHeroCard()"
      type="button"
      class="btn btn-outline-primary btn-block"
    >
      See more...
    </button>
    <!-- Navegación usando Router Link -->
    <!-- <a [routerLink]="['/hero', idx]" class="btn btn-outline-primary btn-block">See more...</a> -->
  </div>
</div>
